.hello-title{
    color: darkgreen;
}
#search_button:hover {
    background-color: transparent;
}
.main_page {
    max-width: 37.5rem;
    margin-left: auto;
    margin-right: auto;
    background: #F5F5F5;
    height: 100%;
}
.home_text {
    font-family: Times New Roman;
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 152, 0, 1);
    font-style: normal;
    letter-spacing: 0px;
    line-height: 19px;
    text-decoration: none;
}
.site_font {
    font-family: Times New Roman;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    line-height: 19px;
    text-decoration: none;
}
.home_page_button {
    background: none;
    border: none;
    outline: none;
}
.platform_section {
    margin-bottom: 5px;
    background-color: white;
    height: 28px;
}
.hot_topic_title {
    margin-left: 2rem;
    color: rgba(229, 28, 35, 0.69);
    font-size: 12px;
}
.hot_topic_contain {
    font-size: 12px;
    background-color: rgb(242, 82, 88);
    color: white;
    padding: 2px 4px;
}
.hot_topic_contain_1 {
    font-size: 12px;
    color: rgba(229, 28, 35, 1);
    padding-top: 2px;
    padding-bottom: 2px;
}
.hot_topic_contain_ {
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.border_bottom_line {
    border-bottom: solid thin lightgrey;
}
.btn_marster_sticker {
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background-color: rgba(229, 28, 35, 0.69);
    padding-top: 16%;
    padding-left: 5%;
}
.page_footer {
    max-width: 37.5rem;
    width: 100%;
    height: 45px;
    position: fixed;
    bottom: 0;
    border-color: white;
    background-color: #ffffff;
    border-top: 3px solid #F5F5F5;
}
.push_order_banner_div {
    height: 180px;
    width: 100%;
    background-image: url('/img/v2_pxxp69.jpg');
}
.push_order_cover_div {
    width: 35.75rem;
    margin-left: 8px;
    height: 80px;
    background-color: white;
    position: absolute;
    top: 12rem;
    border-radius: 9px;
    box-shadow: #f0c500 0 10px 10px -9px;
}
.recommanded_div_contain {
    float: left;
    width: 20%;
    height: 100%;
}
.recommanded_span {
    padding: 3px 7px;
    background-color: rgba(229, 28, 35, 0.69);
    color: white;
    font-size: 12px;
    border-radius: 9px;
}
.recommanded_img {
    width: 55%;
    margin-top: 5px;
    border-radius: 50%;
}
.user_top_div {
    width: 92%;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
}
.user_verify_span {
    padding: 2px 7px;
    background-color: rgb(244, 162, 39);
    color: white;
    font-size: 12px;
    border-radius: 6px;
}
.user_setting_button {
    background: none;
    border: none;
    margin-top: 3px;
}

.btn_outline_none {
    background: none;
    border: none;
    outline: none;
}

button {
    outline: none;
}

.top_title_with_back {
    float: left;
    padding-left: 12rem;
    font-size: 18px;
    margin-top: 5px;
}

.latest_list_top_div {
    background-color: white;
    height: 60px;
    width: 100%;
    padding-top: 1rem;
    box-shadow: rgb(230, 230, 230) 0px 0px 1px 1px;
}

.latest_list_cover_button {
    background-color: rgb(129,13,219);
    border: none;
    border-radius: 18px;
    padding: 5px 23px;
    box-shadow: rgb(129, 13, 219) 0 0 3px 3px;
    color: white;
    outline: none;
}

.buy_horn_pay_button {
    background-color: rgb(255, 152, 0);
    width: 100%;
    height: 35px;
    margin-top: 30rem;
}

.online_recharge_selected {
    border: solid thin lightgrey;
    padding: 9px 17px;
    background-color: rgb(255, 152, 0);
}

.online_recharge_deselected {
    border: solid thin lightgrey;
    padding: 9px 17px;
}

.tabtop .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-top: 4px solid #F89A14 !important;
    border-right: 1px solid #F89A14 !important;
    border-left: 1px solid #F89A14 !important;
}